<!doctype html>
<title>ROS Model Extractor</title>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="{{ url_for('static', filename='dist/index.css') }}" rel="stylesheet">
<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<section class="content">
  <div id="root"></div>
  <script src="{{ url_for('static', filename='dist/index.js') }}" ></script>
</section>