{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}ROS Model Extractor{% endblock %}</h1>
<img src="{{ url_for('static', filename='img/SeRoNet_Logo.png') }}" alt="SeRoNet logo">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col s3">
        <div class="row">
            <div class="flash" id="error-common"></div>
        </div>
        <div class="row">
            {% include 'preloader.html' %}
            <div id="forms-wrapper">
            </div>

            <div class="row">
                <div class="col s12 float-right">
                    <a class="btn btn-small" id="add-form">
                        <i class="material-icons">add</i>
                    </a>
                </div>
            </div>

            <div class="row">
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </div>
    <div class="col s8 offset-s1">
        <a class="btn waves-effect waves-light" type="button" id="download">Download the files
                </a>
        <pre id="model-code"></pre>
        <div class="log">

        </div>
    </div>
</div>
{% endblock %}