.content {
    margin: 0 auto 50px;
    padding: 1em 4em;
    line-height: 1.6em;
}

button[type="submit"] {
    margin-top: 1em;
}

.float-right {
    display: flex;
    justify-content: flex-end;
}

.header {
    margin: 0 0 2em;
    color: #333;
    padding: 1.5em 1em 1em;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

img {
    max-height: 100px;
    max-width: 250px;
}

.flash {
    color: #b80303;
    font-size: 1.2em;
    padding: 0 .75rem .75rem
}

.preloader-wrapper.active {
    position: fixed;
    top: 30%;
    left: 15%;
}

.show-preloader {
    display: block;
}

.loading {
    opacity: 0.5;
}

.header h1 {
    margin: 0;
    font-size: 1.5em;
    font-weight: 400;
}

.log {
    max-height: 70vh;
    overflow-y: scroll;
    padding-left: 5em;
}

.input-field.col {
    width: 100%;
}

.model-code {
    margin-left: 20px;
}

.model-code h6 {
    font-weight: 700;
}

.row {
    margin-bottom: 0;
}

li.tab {
    width: 33.3%;
}