astroid==1.6.6
click==7.1.2
colorama==0.4.1
configparser==4.0.2
Cython==0.29.22
docutils==0.17
enum34==1.1.10
Flask==1.1.4
Flask-Sockets==0.2.1
GitPython
greenlet==1.1.0
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.3
lazy-object-proxy==1.6.0
lizard==1.17.7
mando==0.6.4
MarkupSafe==1.1.1
mccabe==0.6.1
mock==2.0.0
ply==3.11
pylint
pyparsing==2.4.7
python-dateutil==2.8.1
python-gnupg==0.4.1
python-magic==0.4.22
PyYAML==5.4.1
psutil
radon==4.5.0
singledispatch==3.6.1
six==1.15.0
Werkzeug==2.2.3
wrapt==1.12.1
